[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "*"

[packages]
prometheus-client = "*"
asyncio = "*"
requests = "*"
configargparse = "*"

[requires]
python_version = "3.5"
